[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=asadmins
Group=www-data
WorkingDirectory=/home/asadmins/keyserver
Environment="PATH=/home/asadmins/keyserver/myprojectenv/bin"
ExecStart=/home/asadmins/keyserver/myprojectenv/bin/uwsgi --ini keyserver.ini

[Install]
WantedBy=multi-user.target
